<!--List Rendering Lodash Template          --------  (contains your lodash template)
'view'- represents the Player or Team View Object
'view.viewModel'-represents the Player or Team ViewModel objects
'view.viewModel.data'-represents the returned data from the list call
'view.getFieldValue(..)'-function in view that returns the field value for display
-->

<div class="tableHead">
  <h1><%=view.viewModel.list.listTitle%></h1>
  <button id="create" class="btn btn-primary">Create</button>
</div>


<table id="table" class="<%=view.viewModel.list.tableClasses%>"> 
  <tr class="trow">
    <!-- create the headers -->
    <% _.forEach(view.viewModel.fields, function(value, key){ 
      if (value.name !="id" && value.list) {%>
      
    <th class="thead"><%=value.label%></th>
    <%}}) %>
    <th class="thead">Actions</th>
  </tr>

  <!--TODO create the rows from the data-->
  <!-- You can utilize the getFieldValue function from 'view' to get the field display values-->

    <!-- view.getFieldValue(fieldView, fieldData, true);
    data[value.name] -->
 
    <% _.forEach(view.viewModel.data, function(item, id){ %>
      <tr id="<%=item.d%">
        
      <td class="td"><%=value.label%></td>
      
     
       <%}}) %>
      </tr>

      <td class="td">
        `<button type="button" id="editBtn-<$team.id%>">Edit</button>`
        `<button type="button" id="deleteBtn-<$team.id%>">Delete</button>`
        `<button type="button" id="infoBtn-<$team.id%>">Info</button>`
         </td>
       {%>

</table>
