<!--List Rendering Lodash Template          --------  (contains your lodash template)
'view'- represents the Player or Team View Object
'view.viewModel'-represents the Player or Team ViewModel objects
'view.viewModel.data'-represents the returned data from the list call
'view.getFieldValue(..)'-function in view that returns the field value for display
-->

<div class="tableHead">
  <h1><%=view.viewModel.list.listTitle%></h1>
  <button id="create" class="btn btn-primary">Create</button>
</div>


<table id="<%=view.viewModel.list.id%>" class="<%=view.viewModel.list.tableClasses%>"> 
  <tr class="trow">
    <!-- create the headers -->
    <% _.forEach(view.viewModel.fields, function(value, key){ 
      if (value.list) {%>
      
    <th class="thead"><%=value.label%></th>
    <%}}) %>
    <th class="thead">Actions</th>
  </tr>

  <!--TODO create the rows from the data-->
  <!-- You can utilize the getFieldValue function from 'view' to get the field display values-->
    <% _.forEach(view.viewModel.data, function(item, id){ %>
      <tr id="<%=item.id%">
        <% _.forEach(view.viewModel.fields, function(value, key){ 

          if(value.list)
            <td class="thead"><%=view.getFieldValue(value, item, false)%></td>
       <%}}) %>

       `<i id="edit-<%item.id%>"   class='actionButton fa fa-edit' >Edit</i>`
       `<i id="delete-<%item.id%>" class='actionButton fa fa-delet' >Delete</i>`
       `<i id="info-<%item.id%>"   class='actionButton fa fa-info' >Info</i>`

      </tr>

    <%});%>>
   

</table>
